@page {
    size: auto;
    margin: 0;
}

body {
    font-family: Rubik, Helvetica, Arial, serif;
    font-size: 1rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("https://videohive.img.customer.envatousercontent.com/files/1531ed4b-39f4-4522-b09b-b5ad1cf31fb7/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=afc01ef4d0d17a8b14d30a853011e503");

}