@import '../../styles/variables.scss';

.layout {
    padding: 1.5rem;
}

.main {
    text-align: center;
    margin-top: 7rem;
    color: #ffff;
}

.employeeQuery {
    color: #39e6e6;
    font-size: 3.2em;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.clickOnSearchBar {
    font-size: 1.4em;
}